@using System.Security.Claims;
@using ComputerStore_MSSQL.Data.Entities;
@model IEnumerable<UserEntity>
<head>
    <link rel="stylesheet" href="~/css/stylesManagersManagement.css">
</head>
<body>
    @if (Model.Count() < 1)
    {
        <div class="center-div">
            <h6>Менеджерів не знайдено.</h6>
            <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                <button type="submit" class="btn" style="margin-top: 40px;">Back</button>
            </form>
        </div>
    }
    else
    {
        <div class="container-local">
            <form asp-controller="Admin" asp-action="ManagersManagement" method="get">
                <input type="text" name="searchQuery" placeholder="Пошук">
            </form>
            <div class="button-group">
                <form asp-controller="Admin" asp-action="ManagersManagement" method="get">
                    <button type="submit" class="btn" style="margin-left: 30px;">Show All</button>
                </form>
                <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                    <button class="btn" style="margin-left: 30px;">Back</button>
                </form>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <tr class="table-header" style="text-align: center; vertical-align: middle;">
                    <th>Manager Id</th>
                    <th>Manager Login</th>
                    <th>Manager FirstName</th>
                    <th>Manager LastName</th>
                    <th>Manager Email Address</th>
                    <th>Remove Manager</th>
                </tr>
                @foreach (var manager in Model)
                {
                    <tr style="text-align: center; vertical-align: middle;">
                        <td>@manager.Id</td>
                        <td>@manager.UserName</td>
                        <td>@manager.FirstName</td>
                        <td>@manager.LastName</td>
                        <td>@manager.Email</td>
                        <td>
                            <form asp-controller ="Admin" asp-action="RemoveManager">
                                <input type="hidden" name="managerId" value="@manager.Id" />
                                <button class="btn">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>