@using ComputerStore_MSSQL.Data.Entities;
@model IEnumerable<ProductEntity>
<head>
    <link rel="stylesheet" href="~/css/stylesProductsManagement.css">
</head>
<body>
    @if (Model.Count() < 1)
    {
        <div class="center-div">
            <h6>Товарів не знайдено.</h6>
            <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                <button type="submit" class="btn" style="margin-top: 40px;">Back</button>
            </form>
        </div>
    }
    else
    {
        <div class="container-local">
            <form asp-controller="Admin" asp-action="ProductsManagement" method="get">
                <input type="text" name="searchQuery" placeholder="Пошук">
            </form>
            <div class="button-group">
                <form asp-controller="Admin" asp-action="AddNewProduct" method="get">
                    <button type="submit" class="btn">Add New</button>
                </form>
                <form asp-controller="Admin" asp-action="ProductsManagement" method="get">
                    <button type="submit" class="btn" style="margin-left: 30px;">Show All</button>
                </form>
                <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                    <button class="btn" style="margin-left: 30px;">Back</button>
                </form>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <tr class="table-header" style="text-align: center; vertical-align: middle;">
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Producer</th>
                    <th>Product Category</th>
                    <th>Product Short Description</th>
                    <th>Product In Stock</th>
                    <th>Product Price</th>
                    <th>Update Product</th>
                    <th>Remove Product</th>
                </tr>
                @foreach (var product in Model)
                {
                    <tr style="text-align: center; vertical-align: middle;">
                        <td>@product.ProductId</td>
                        <td>@product.Name</td>
                        <td>@product.Producer</td>
                        <td>@product.Category</td>
                        <td>@product.ShortDescription</td>
                        <td>@product.InStock</td>
                        <td>@product.Price.ToString("N2").TrimEnd('0').TrimEnd(',') грн</td>
                        <td>
                            <form asp-controller="Admin" asp-action="UpdateProduct" method="get">
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <button class="btn">Update</button>
                            </form>
                        </td>
                        <td>
                            <form asp-controller="Admin" asp-action="RemoveProduct">
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <button class="btn">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>
