@using ComputerStore_MSSQL.Data.Entities;
@model IEnumerable<ReviewEntity>
<head>
    <link rel="stylesheet" href="~/css/stylesReviewsManagement.css">
</head>
<body>
    @if (Model.Count() < 1)
    {
        <div class="center-div">
            <h6>Відгуків не знайдено.</h6>
            <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                <button type="submit" class="btn" style="margin-top: 40px;">Back</button>
            </form>
        </div>
    }
    else
    {
        <div class="container-local">
            <form asp-controller="Admin" asp-action="ReviewsManagement" method="get">
                <input type="text" name="searchQuery" placeholder="Пошук">
            </form>
            <div class="button-group">
                <form asp-controller="Admin" asp-action="ReviewsManagement" method="get">
                    <button type="submit" class="btn">Show All</button>
                </form>
                <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                    <button class="btn" style="margin-left: 30px;">Back</button>
                </form>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <tr class="table-header" style="text-align: center; vertical-align: middle;">
                    <th>Review Id</th>
                    <th>User Id</th>
                    <th>User FirstName</th>
                    <th>User LastName</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Review Date</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
                @foreach (var review in Model)
                {
                    <tr style="text-align: center; vertical-align: middle;">
                        <td>@review.ReviewId</td>
                        <td>@review.UserId</td>
                        <td>@review.User.FirstName</td>
                        <td>@review.User.LastName</td>
                        <td>@review.ProductId</td>
                        <td>@review.Product.Name</td>
                        <td>@review.ReviewDate</td>
                        <td style="white-space: nowrap;">
                            <span class="rating">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <span class="star @(review.Rating >= i ? "filled" : "") @(review.Rating > (i - 1) && review.Rating < i ? "half-filled" : "")">✯</span>
                                }
                            </span>
                        </td>
                        <td>@review.Comment</td>
                    </tr>
                }
            </table>
        </div>
    }
</body>