@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model IEnumerable<User>
<head>
    <link rel="stylesheet" href="~/css/stylesUsersManagement.css">
</head>
<body>
    @if (Model.Count() < 1)
    {
        <div class="center-div">
            <h6>Користувачів не знайдено.</h6>
            <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                <button type="submit" class="btn" style="margin-top: 40px;">Back</button>
            </form>
        </div>
    }
    else
    {
        <div class="container-local">
            <form asp-controller="Admin" asp-action="UsersManagement" method="get">
                <input type="text" name="searchQuery" placeholder="Пошук">
            </form>
            <div class="button-group">
                <form asp-controller="Admin" asp-action="UsersManagement" method="get">
                    <button type="submit" class="btn">Show All</button>
                </form>
                <form asp-controller="Admin" asp-action="AdminIndex" method="get">
                    <button class="btn" style="margin-left: 30px;">Back</button>
                </form>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <tr class="table-header" style="text-align: center; vertical-align: middle;">
                    <th>User ID</th>
                    <th>User Role</th>
                    <th>User Login</th>
                    <th>User FirstName</th>
                    <th>User LastName</th>
                    <th>User Email Address</th>
                    <th>Quantity Reviews</th>
                    <th>Quantity Transactions</th>
                    <th>Manager Status</th>
                </tr>
                @foreach (var user in Model)
                {
                    var userRoles = (await UserManager.GetRolesAsync((await UserManager.FindByIdAsync(user.Id))!));
                    var isManager = false;
                    <tr style="text-align: center; vertical-align: middle;">
                        <td>@user.Id</td>
                        <td>
                            @foreach (var role in userRoles)
                            {
                                if (role == "Manager")
                                    isManager = true;
                                <span>@role</span>
                            }
                        </td>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        @if(user.Reviews == null)
                        {
                            <td>0</td>
                        }
                        else
                        {
                            <td>@user.Reviews.Count()</td>
                        }
                        @if (user.Transactions == null)
                        {
                            <td>0</td>
                        }
                        else
                        {
                            <td>@user.Transactions.Count()</td>
                        }
                        @if (!isManager && UserManager.GetRolesAsync(UserManager.FindByNameAsync(User.Identity!.Name!).Result!).Result.Contains("Admin"))
                        {
                            <td>
                                <form asp-controller="Admin" asp-action="AddManagerRole" method="post">
                                    <input type="hidden" name="userID" value="@user.Id">
                                    <button class="btn" type="submit">Add Manager Role</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</body>
