@using ComputerStore_MSSQL.Data.Entities;
@model IEnumerable<ReviewEntity>
<head>
    <link rel="stylesheet" href="~/css/stylesReviewsData.css">
</head>
<body>
    @if(Model.Count() < 1)
    {
        <h6>Відгуків не знайдено.</h6>
    }
    else
    {
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <tr class="table-header" style="text-align: center; vertical-align: middle;">
                    <th>Review Id</th>
                    <th>User FirstName</th>
                    <th>User LastName</th>
                    <th>Product Name</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Remove Review</th>
                </tr>
                @foreach (var review in Model)
                {
                    <tr style="text-align: center; vertical-align: middle;">
                        <td>@review.ReviewId</td>
                        <td>@review.User.FirstName</td>
                        <td>@review.User.LastName</td>
                        <td>@review.Product.Name</td>
                        <td style="white-space: nowrap;">
                            <span class="rating">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <span class="star @(review.Rating >= i ? "filled" : "") @(review.Rating > (i - 1) && review.Rating < i ? "half-filled" : "")">✯</span>
                                }
                            </span>
                        </td>
                        <td>@review.Comment</td>
                        <td>
                            <form asp-controller="ReviewClient" asp-action="RemoveReview" method="post">
                                <input type="hidden" name="reviewId" value="@review.ReviewId"/>
                                <button class="remove-review">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>
